*{
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #251D3A;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #6E85B7;
  height: 65px;
  align-items: center;
}

.company{
  color: white;
  font-size: 2.5vmax;
  margin-left: 20px;
  font-family: monospace;
}

.search{
  width: calc(80% - 200px);
  border: none;
  border-radius: 10px;
  height: 80%;
  outline: none;
  padding-left: 15px;
}
.navbar button{
  text-align: center;
  width: 7vmax;
  height: 80%;
  border: none;
  border-radius: 10%;
  outline: none;
  background: white;
  font-size: 1.5vmax;
  color: lightseagreen;
}

.navbar button:hover{
  background: lightseagreen;
  color: white;
}
.bi-cart{
  color: white;
  
  
  margin-right: 20px;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.all-items{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #251D3A; 
  
}
.card{
  margin-bottom: 20px;
}
.preview-main-div{
  margin-top: 20px;
  margin-left: 20px; 
  display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
   /* position: relative; */
   
}

  

.preview-left-down-btns{
  margin-top: 20px;
  /* width: 100%;
  height: 10%;  */
  display: flex;
   justify-content: space-evenly;
   
}
.preview-right{
   display: flex;
   flex-direction: column;
    align-items: center; 
   position: absolute;
   left: 50vw;
   top: 30vh; 
 }

.product-price{
  font-weight: bolder;
  color: white;
}
.product-name{
  color: white;
  font-size: 1.5rem;
}